##
# @file: Provide required environmental variables and variable overrides
#
# For local development, copy/rename this file to .env.local and add
# appropriate variables. In production, these values should be provided
# by the server.
##

##
# Required variables
##

# Secret key used by next auth
# Generate a secret using this site: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=dRpae49XdMWCxU6ku3vAEsn4NCssTyRi

# Azure AD variables
AZURE_AD_CLIENT_ID=abc1237d-95f8-42a4-aeb4-98c0se614b4e8
AZURE_AD_CLIENT_SECRET=ABCQabc~yypg4RSKwgLLS2rjslgqLu8XAxiuyELapW
AZURE_AD_TENANT_ID=abc1233-cbdc-43b3-9b42-5d2d3f16e2a4


##
# Optional/local development vars
##

# Passwords - optional passwords to allow. Define using comma-separated username:password strings
# Example is is Fred:PASSWORD,Sally:PASSWORD2
LOCAL_PASSWORDS=demo_user:demo,test@example.com:test


# If using Github Auth, provide App ID and Secret Key
GITHUB_ID=Iv1.5ecb8a4387c12345
GITHUB_SECRET=a9406e74e36321eca988baf1d1745ac19877e4f8
